{% extends "base.html" %}
{% load thumbnail %}
{% load static %}
{% block title %}{% if settings.meta_title %}{{ settings.meta_title }}{% else %}Каталог{% endif %}{% endblock %}
{% block description %}{{ settings.meta_description }}{% endblock %}
{% block keywords %}{{ settings.meta_keywords }}{% endblock %}

{% block content %}
<div class="catalog">
  <div class="container">
    <nav class="breadcrumbs">
      <ol class="breadcrumbs__list">
        <li class="breadcrumbs__item">
          <a href="/" class="breadcrumbs__link">Главная страница</a>
        </li>

        <li class="breadcrumbs__item">
          <span class="breadcrumbs__current">Каталог</span>
        </li>
      </ol>

      <a href="javascript:history.back()" class="breadcrumbs__back">
        Вернуться
      </a>
    </nav>

    <div class="catalog__top">
      {% if settings.meta_h1 %}
        <h1 class="catalog__title title">{{ settings.meta_h1 }}</h1>
      {% else %}
        <h1 class="catalog__title title">Каталог</h1>
      {% endif %}
    </div>

    {% include "../../includes/_cards.html" with categories=categories %}

  </div>
</div>


{% endblock content %}