{% load static %}

<div class="sidebar">
  <button type="button" class="sidebar__btn-close" id="sidebar-btn-close">
    <i class="fa-solid fa-chevron-left"></i>
  </button>
  <div class="sidebar__top">
    <a href="/admin" class="sidebar__logo" title="Панель управления">
      <img src="{% static 'admin/img/admin-logo.svg' %}"
           alt="svg logo" title="svg logo">
      Панель управления
    </a>
  </div>

  <div class="sidebar-menu">
    <div class="sidebar-menu__item">
      <div class="sidebar-menu__item-inner">
        <div class="sidebar__icon">
          <i class="fa-solid fa-arrow-up-right-dots"></i>
        </div>
        <a href="" class="sidebar-menu__link active">Статистика</a>
      </div>
    </div>
    <div class="sidebar-menu__item">
      <div class="sidebar-menu__item-inner">
        <div class="sidebar__icon">
          <i class="fa-solid fa-arrow-up-right-dots"></i>
        </div>
        <a href="{% url 'admin_category' %}" class="sidebar-menu__link">Категории проектов</a>
        <button type="button" class="sidebar-menu__item-close">
          <i class="fa-solid fa-chevron-down"></i>
        </button>
      </div>
    </div>
  </div>

</div>
