.tabs {

  &--outline {
    .tabs__list {
      border: none;
      border-bottom: 1px solid #ccc;
      border-radius: 0;
    }

    .tabs__tab {
      flex: 0;
      background: #fff;

      &[aria-selected="false"] {
        background: #fff;
        color: #686868;
      }

      &[aria-selected="true"] {
        color: #282828;
        background: #fff;
        border-bottom: 2px solid #136e40;
      }

    }


    .tabs__panel {
      ul {
        list-style: disc;
        padding-left: 20px;
        margin: 1em 0;
      }

      ol {
        list-style: decimal;
        padding-left: 20px;
        margin: 1em 0;
      }

      li {
        margin-bottom: .5em;
      }
    }

  }

  &__list {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 0 16px;
  }

  &__tab {
    flex: 1;
    padding: 11px;
    font-weight: 600;
    text-align: center;
    color: #282828;

    @media(hover: hover) {
      &:hover {
        background: #f5f5f5;
      }
    }

    &[aria-selected="false"] {
      background: #e5e5e5;
      color: #686868;
    }
  }

}

.calc {

  &__row {
    border-bottom: 1px solid #e0e0e0;
  }

  &__group {
    padding: 0 0 16px;
    margin: 0;
    border: none;
  }

  &__title {
    font-weight: 600;
    line-height: 144%;
    color: #282828;
    margin-bottom: 8px;
  }

  &__inner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
  }

}

.options {
  padding: 16px 0;
  border-bottom: 1px solid #e0e0e0;


  &__inner {
    max-height: 114px;
    overflow: hidden;
    transition: $animation_speed;

    &.active {
      max-height: 100%;
    }
  }

  &__group {
    padding: 0;
    margin: 0;
    border: none;
  }

  &__title {
    margin-bottom: 8px;
    padding: 0;
    font-weight: 600;
    line-height: 144%;
    color: #282828;
  }



}