{% extends 'admin_base.html' %}{% load static %}{% load thumbnail %} {% block body %}
<div class="page">
  <div class="page__inner">
    <h1 class="page__title">{{ title }}</h1>
    <form action="." method="POST" id="myForm" class="form" enctype="multipart/form-data">
      <div class="page__head">
        <div class="page__head-tab">
          <button type="button" data-name="basic" class="page__head-btn _active">Основные</button>
          <button type="button" data-name="seo" class="page__head-btn">Поля SEO</button>
        </div>
        <div class="page__head-right">
          <button type="submit" class="form__btn">
            <img src="{% static 'admin/img/save.svg' %}" alt=""/>
            Сохранить
          </button>
        </div>
      </div>
      {% csrf_token %}
      {{ form.media }}
      <div class="page-content _show" id="basic">
        <div class="page-content__row">
          <div class="page-content__col">
            {% if form.meta_h1 %}
            <div class="form__group">
              <label for="{{ form.meta_h1.id_for_label }}" class="form__controls-label">
                {{ form.meta_h1.label }} <span>:</span>
              </label>
              {{ form.meta_h1 }} {{ form.meta_h1.errors }}
            </div>
            {% endif %}

            {% if form.subtitle %}
            <div class="form__group">
              <label for="{{ form.subtitle.id_for_label }}" class="form__controls-label">
                {{ form.subtitle.label }} <span>:</span>
              </label>
              {{ form.subtitle }} {{ form.subtitle.errors }}
            </div>
            {% endif %}
          </div>
          <div class="page-content__col">
            {% if form.image %}
            <div class="form__group">
              <label for="{{ form.image.id_for_label }}" class="form__controls-label">
                {{ form.image.label }} <span>:</span>
              </label>
              {{ form.image }} {{ form.image.errors }}
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="page-content" id="seo">
        <div class="page-content__row">
          <div class="page-content__col">
            <!-- Seo -->
            {% if form.meta_title %}
            <div class="form__group">
              <label for="{{ form.meta_title.id_for_label }}" class="form__controls-label">
                {{ form.meta_title.label }} <span>:</span>
              </label>
              {{ form.meta_title }} {{ form.meta_title.errors }}
            </div>
            {% endif %}

            {% if form.meta_description %}
            <div class="form__group">
              <label for="{{ form.meta_description.id_for_label }}" class="form__controls-label">
                {{ form.meta_description.label }} <span>:</span>
              </label>
              {{ form.meta_description }} {{ form.meta_description.errors }}
            </div>
            {% endif %}

            {% if form.meta_keywords %}
            <div class="form__group">
              <label for="{{ form.meta_keywords.id_for_label }}" class="form__controls-label">
                {{ form.meta_keywords.label }} <span>:</span>
              </label>
              {{ form.meta_keywords }} {{ form.meta_keywords.errors }}
            </div>
            {% endif %}

            <!-- Seo -->
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}
