{% extends 'admin_base.html' %}
{% load static %}
{% load thumbnail %}
{% block body %}
<div class="page">
  <div class="page__inner">
    <div class="page__top">
      <h1 class="page__title">{{ title }}
        {% if form.name.value %}
         - {{ form.name.value }}
        {% endif %}
      </h1>
      <button type="button" onclick="history.back()">Назад</button>
    </div>
    <form action="." method="POST" class="form" enctype="multipart/form-data">
      <div class="page__head">
        <div class="page__head-tab">
          <button type="button" data-name="basic" class="page__head-btn _active">Основные</button>
          <button type="button" data-name="seo" class="page__head-btn">Поля SEO</button>
          <button type="button" data-name="gallery" class="page__head-btn">Фотографии</button>
          <button type="button" data-name="chars" class="page__head-btn">Характеристики</button>
        </div>
        <div class="page__head-right">
          {% if add_url %}<a href="{% url add_url %}" class="form__add-property">Создать</a>{% endif %}
          <button type="submit" class="form__btn">
            <img src="{% static 'admin/img/save.svg' %}" alt=""/>
            Сохранить
          </button>
        </div>
      </div>
      {% csrf_token %}
      {{ form.media }}
      <div class="page-content _show" id="basic">
        <div class="page-content__row">

          <div class="page-content__col">
            {% if form.name %}
            <div class="form__group">
              <label for="{{ form.name.id_for_label }}" class="form__controls-label">
                {{ form.name.label }}{% if form.name.field.required %}<span class="form__required">*</span>{% endif %}:
              </label>
              {{ form.name }} {{ form.name.errors }}
            </div>
            {% endif %}


            {% if form.description %}
            <div class="form__group">
              <label for="{{ form.description.id_for_label }}" class="form__controls-label">
                {{ form.description.label }}:
              </label>
              {{ form.description }} {{ form.description.errors }}
            </div>
            {% endif %}

            {% if form.equipment %}
            <div class="form__group">
              <label for="{{ form.equipment.id_for_label }}" class="form__controls-label">
                {{ form.equipment.label }}:
              </label>
              {{ form.equipment }} {{ form.equipment.errors }}
            </div>
            {% endif %}

            <div class="form__grid">

              {% if form.model %}
              <div class="form__group">
                <label for="{{ form.model.id_for_label }}" class="form__controls-label">{{ form.model.label }}: </label>
                {{ form.model }} {{ form.model.errors }}
              </div>
              {% endif %}

              {% if form.power %}
              <div class="form__group">
                <label for="{{ form.power.id_for_label }}" class="form__controls-label">{{ form.power.label }}: </label>
                {{ form.power }} {{ form.power.errors }}
              </div>
              {% endif %}
              {% if form.el_network %}
              <div class="form__group">
                <label for="{{ form.el_network.id_for_label }}" class="form__controls-label">
                  {{ form.el_network.label }}:
                </label>
                {{ form.el_network }} {{ form.el_network.errors }}
              </div>
              {% endif %}
              {% if form.nom_capacity %}
              <div class="form__group">
                <label for="{{ form.nom_capacity.id_for_label }}" class="form__controls-label">
                  {{ form.nom_capacity.label }}:
                </label>
                {{ form.nom_capacity }} {{ form.nom_capacity.errors }}
              </div>
              {% endif %}
              {% if form.max_capacity %}
              <div class="form__group">
                <label for="{{ form.max_capacity.id_for_label }}" class="form__controls-label">
                  {{ form.max_capacity.label }}:
                </label>
                {{ form.max_capacity }} {{ form.max_capacity.errors }}
              </div>
              {% endif %}
              {% if form.max_capacity_min %}
              <div class="form__group">
                <label for="{{ form.max_capacity_min.id_for_label }}" class="form__controls-label">
                  {{ form.max_capacity_min.label }}:
                </label>
                {{ form.max_capacity_min }} {{ form.max_capacity_min.errors }}
              </div>
              {% endif %}

              {% if form.nom_head %}
              <div class="form__group">
                <label for="{{ form.nom_head.id_for_label }}" class="form__controls-label">
                  {{ form.nom_head.label }}:
                </label>
                {{ form.nom_head }} {{ form.nom_head.errors }}
              </div>
              {% endif %}

              {% if form.max_head %}
              <div class="form__group">
                <label for="{{ form.max_head.id_for_label }}" class="form__controls-label">
                  {{ form.max_head.label }}:
                </label>
                {{ form.max_head }} {{ form.max_head.errors }}
              </div>
              {% endif %}

              {% if form.suction_depth %}
              <div class="form__group">
                <label for="{{ form.suction_depth.id_for_label }}" class="form__controls-label">
                  {{ form.suction_depth.label }}:
                </label>
                {{ form.suction_depth }} {{ form.suction_depth.errors }}
              </div>
              {% endif %}

              {% if form.con_size %}
              <div class="form__group">
                <label for="{{ form.con_size.id_for_label }}" class="form__controls-label">
                  {{ form.con_size.label }}: </label>
                {{ form.con_size }} {{ form.con_size.errors }}
              </div>
              {% endif %}
            </div>

            {% if form.text %}
            <div class="form__group">
              <label for="{{ form.text.id_for_label }}" class="form__controls-label">Текст на странице: </label>
              {{ form.text }} {{ form.text.errors }}
            </div>
            {% endif %}
          </div>

          <div class="page-content__col">
            {% if form.slug %}
            <div class="form__group">
              <label for="{{ form.slug.id_for_label }}" class="form__controls-label">
                <span>*</span>
                URL :
              </label>
              {{ form.slug }} {{ form.slug.errors }}
            </div>
            {% endif %}

            {% if form.category %}
            <div class="form__group">
              <label for="{{ form.category.id_for_label }}" class="form__controls-label">Выбор категории:</label>
              {{ form.category }} {{ form.category.errors }}
            </div>
            {% endif %}

            {% if form.parent %}
            <div class="form__group">
              <label for="{{ form.parent.id_for_label }}" class="form__controls-label">Родительская категория:</label>
              {{ form.parent }} {{ form.parent.errors }}
            </div>
            {% endif %}

            {% if form.image %}
            <div class="form__group form__group-image">
              <label for="{{ form.image.id_for_label }}" class="form__controls-label">{{ form.image.label }}:</label>
              {{ form.image }} {{ form.image.errors }}
            </div>
            {% endif %}

            {% if form.instance.image %}
            <a href="{{ form.instance.image.url }}" target="_blank">
              <img src="{{ form.instance.image.url }}" alt="Миниатюра изображения"
                   style="max-width: 100px; max-height: 100px"/>
            </a>
            {% endif %}

            {% if form.status %}
            <div class="form__group">
              <label for="{{ form.status.id_for_label }}" class="form__controls-label">{{ form.status.label }}:</label>
              {{ form.status }} {{ form.status.errors }}
            </div>
            {% endif %}
            {% if form.in_stock %}
              <div class="form__group">
                <label for="{{ form.in_stock.id_for_label }}" class="form__controls-label">
                  {{ form.in_stock.label }}{% if form.in_stock.field.required %}<span class="form__required">*</span>{% endif %}:
                </label>
                {{ form.in_stock }} {{ form.in_stock.errors }}
              </div>
            {% endif %}

            {% if form.order %}
            <div class="form__group">
              <label for="{{ form.order.id_for_label }}" class="form__controls-label">
                {{ form.order.label }}{% if form.order.field.required %}<span class="form__required">*</span>{% endif %}:
              </label>
              {{ form.order }} {{ form.order.errors }}
            </div>
            {% endif %}

            {% if form.order_by %}
            <div class="form__group">
              <label for="{{ form.order_by.id_for_label }}" class="form__controls-label">{{ form.order_by.label }}:</label>
              {{ form.order_by }} {{ form.order_by.errors }}
            </div>
            {% endif %}

          </div>
        </div>
      </div>
      <div class="page-content" id="seo">
        <!-- SEO страницы -->
        <div class="page-content__row">
          <div class="page-content__onecol">
            <div class="form__group">
              <label for="{{ form.meta_h1.id_for_label }}" class="form__controls-label"> Заголовок h1: </label>
              {{ form.meta_h1 }} {{ form.meta_h1.errors }}
            </div>
            <div class="form__group">
              <label for="{{ form.meta_title.id_for_label }}" class="form__controls-label"> Мета заголовок: </label>
              {{ form.meta_title }} {{ form.meta_title.errors }}
            </div>
            <div class="form__group">
              <label for="{{ form.meta_description.id_for_label }}" class="form__controls-label">
                Мета описание:
                <div class="meta-lenght">0</div>
              </label>
              {{ form.meta_description }} {{ form.meta_description.errors }}
            </div>
            <div class="form__group">
              <label for="{{ form.meta_description.id_for_label }}" class="form__controls-label"> Мета
                keywords: </label>
              {{ form.meta_keywords }} {{ form.meta_keywords.errors }}
            </div>
          </div>
        </div>
      </div>
      
      <div class="page-content" id="gallery">
        <div class="page-content__row">
          <div class="page-content__onecol">
            <div class="form__group form__group-image">
              <label for="{{ image_form.src.id_for_label }}" class="form__controls-label"> Дополнительные
                изображения: </label>
              {{ image_form.src }} {{ image_form.src.errors }}
            </div>
            <div class="product-field"></div>
            <div class="product-block__plus form__btn">Добавить изображение</div>
            <div class="product-block__paste">
              {% for image in images %}
              <div class="product-block__image">
                <img src="{{ image.src.url }}" alt="" id="{{image.id}}">
                {% if product_view %}
                <a href="{% url 'product_image_delete' image.pk %}" class="product-block__minus">Удалить</a>
                {% endif %}

                {% if model_view %}
                <a href="{% url 'model_image_delete' image.pk %}" class="product-block__minus">Удалить</a>
                {% endif %}
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>

      <div class="page-content" id="chars">
        <div class="page-content__row">
          <div class="page-content__onecol">
            <div class="product-field"></div>
            <div class="form__btn" id="char-add">Добавить характеристику</div>
            <div class="char__paste"id="char__paste">
              {% for char in chars %}
              <div class="char-block" >

                <select name="characteristic" class="form__controls-select">
                  <option value="">---------</option>
                  {% for char_item in all_chars %}
                  <option value="{{ char_item.id }}" {% if char_item.id == char.characteristic.id %}selected{% endif %}>
                    {{ char_item.name }}
                  </option>
                  {% endfor %}
                </select>

                <input type="text" class="form__controls" name="value_{{ char.characteristic.id }}" value="{{ char.value }}">
                <input type="text" name="order_{{ char.characteristic.id }}" class="form__controls" value="{{ char.order_by }}" readonly>
                <a href="{% url 'model_char_delete' char.pk %}" class="product-block__minus">Удалить</a>
              </div>
              {% endfor %}
            </div>
            <div class="select-hide" id="select-char" style="display: none">
              <div class="char-block char-row">
                <select class="form__controls-select">
                  {% for char_item in all_chars %}
                  <option value="{{ char_item.id }}">{{ char_item.name }}</option>
                  {% endfor %}
                </select>
                <input type="text" class="form__controls" value="">
                <button type="button" class="product-block__minus char-delete" >Удалить</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}
