{% extends 'admin_base.html' %}
{% load static %}
{% load thumbnail %}
{% block body %}
<div class="page">
  <div class="header">
    <div class="header__left">
      <h1 class="header__title">{{ title }}</h1>
    </div>
    <div class="header__right">
      <a href="javascript:history.back()" class="btn">Назад</a>
    </div>
  </div>
  <div class="page__content">
    <form action="." method="POST" id="myForm" class="form" enctype="multipart/form-data">
      <div class="form__action">
        <div class="form__action-left">
          <button type="button" data-name="basic" class="active">Основные</button>
        </div>
        <div class="form__action-right">
          <button type="submit" class="btn btn--accent">
            <img src="{% static 'admin/img/save.svg' %}" alt=""/>
            Сохранить
          </button>
        </div>
      </div>
      {% csrf_token %}
      {{ form.media }}
      <div class="form__inner show" id="basic">
        <div class="form__row">
          <div class="form__col">
            {% if form.name %}
            <div class="form__group">
              <label
                  for="{{ form.name.id_for_label }}"
                  class="form__label">
                {{ form.name.label }}
                {% if form.name.field.required %}
                <span class="form__required">*</span>
                {% endif %}:
              </label>
              {{ form.name }} {{ form.name.errors }}
            </div>
            {% endif %}

            {% if form.link %}
            <div class="form__group">
              <label
                  for="{{ form.link.id_for_label }}"
                  class="form__label">
                {{ form.link.label }}
                {% if form.link.field.required %}
                <span class="form__required">*</span>
                {% endif %}:
              </label>
              {{ form.link }} {{ form.link.errors }}
            </div>
            {% endif %}

          </div>
          <div class="form__col">
            {% if form.image %}
            <div class="form__group form__group--image">
              <label for="{{ form.image.id_for_label }}" class="form__label">
                {{ form.image.label }}:
              </label>
              {{ form.image }} {{ form.image.errors }}
            </div>
            {% endif %}

            {% if form.status %}
            <div class="form__group">
              <label for="{{ form.status.id_for_label }}" class="form__label">{{ form.status.label }}:</label>
              {{ form.status }} {{ form.status.errors }}
            </div>
            {% endif %}

          </div>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}
