// Bootstrap
@import '../../../node_modules/bootstrap/scss/bootstrap-grid';
@import '../../../node_modules/swiper/swiper';

// Шрифты
// Удалить файл fonts.scss, если произошли какие-то изменения со шрифтами

@import "./_variables";

@import "./_global";
@import "./includes/_header";
@import "./includes/_footer";

@import "./includes/_cards";
@import "./includes/_product-card";
@import "./includes/_popup";

@import "./pages/_catalog";
@import "./pages/_product";
@import "./pages/_reviews";
@import "./pages/_contact";
@import "./pages/_about";

@import "./components/_breadcrumbs";
@import "./components/_custom-select";
@import "./components/_forms";
@import "./components/_tabs";


@import "hero";

* {
  outline: none;
  box-sizing: border-box;
}

html {
  height: 100%;
  background: #fbfbfb;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 360px;
  overflow-x: hidden;
  font-family: $secondFamily;
  font-size: 18px;
  font-weight: 400;

  main {
    flex: 1 0 auto;
  }
}
