{% extends 'admin_base.html' %}{% load static %} {% block body %}
<div class="page">
  <div class="page__inner">
    <div class="page__top">
      <h1 class="page__title">Системные настройки</h1>
    </div>
    <form action="." method="POST" class="form" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.media }}
      <div class="page__head">
        <div class="page__head-tab">
          <button type="button" data-name="basic" class="page__head-btn _active">Robots.txt</button>
        </div>
        <button type="submit" class="form__btn">
          <img src="{% static 'admin/img/save.svg' %}" alt=""/>
          Сохранить
        </button>
      </div>
      <div class="page-content _show" id="basic">
        <div class="page-content__row">
          <div class="page-content__col">
            <div class="form__group">
              <label for="{{ form.content.id_for_label }}" class="form__controls-label"> <span>*</span>Контент: </label>
              {{ form.content }} {{ form.content.errors }}
            </div>
          </div>
          <div class="page-content__col">
            <div class="form__group"></div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}