@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;

1,400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");


.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 17px 0;
  backdrop-filter: blur(6px);
  background: rgba(255, 255, 255, 0.7);
  z-index: 100;
}

.header__burger {
  width: 24px;
  height: 24px;
}

.header__burger img {
  width: 100%;
  height: 100%;
}

.header__burger:focus + .mobile-menu,
.header__burger .mobile-menu:focus-within {
  opacity: 1;
  pointer-events: all;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.header__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.header__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.header__logo {
  display: block;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 107px;
  height: 70px;
}

.header__controls {
  -ms-grid-column-align: end;
      justify-self: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}

.header__phone {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
  text-align: left;
  color: #282828;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  text-underline-offset: 6px;
}

.header__phone a {
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.header__phone a:first-child {
  font-size: 18px;
}

.header__phone a:active {
  opacity: 0.9;
}

.header__mobile-phone {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  width: 40px;
  height: 40px;
}

.nav {
  -ms-grid-column-align: start;
      justify-self: start;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.nav__item {
  position: relative;
  padding-block: 7px;
}

.nav__item-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav__link {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  line-height: 144%;
  color: #136e40;
}

.nav__link:active {
  color: #00573f;
}

.nav__arrow {
  width: 24px;
  height: 24px;
  color: #00573f;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.submenu {
  position: absolute;
  border-radius: 4px;
  padding: 8px 0;
  min-width: 280px;
  -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16), 0 0 2px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16), 0 0 2px 0 rgba(0, 0, 0, 0.08);
  background: #fff;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.submenu__item {
  padding: 8px 16px;
}

.submenu__link {
  line-height: 133%;
  color: #282828;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.mobile-menu {
  position: fixed;
  border-radius: 4px;
  padding: 8px 0;
  width: 280px;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16), 0 0 2px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16), 0 0 2px 0 rgba(0, 0, 0, 0.08);
  background: #fff;
  z-index: 100;
  -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
          transform: translateY(20px);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.25s ease, -webkit-transform 0.25s ease;
  transition: opacity 0.25s ease, -webkit-transform 0.25s ease;
  transition: transform 0.25s ease, opacity 0.25s ease;
  transition: transform 0.25s ease, opacity 0.25s ease, -webkit-transform 0.25s ease;
}

.mobile-menu li {
  padding: 8px 16px;
}

.mobile-menu li a {
  line-height: 133%;
}

.mobile-menu__catalog {
  border-bottom: 1px solid #e0e0e0;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding-block: 16px;
  background: #00573f;
  color: #ffffff;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
}

.footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.footer__copyright span {
  font-size: 14px;
  line-height: 143%;
}

.container {
  max-width: 704px;
  width: 100%;
  padding: 0 24px;
  margin: 0 auto;
}

.container--small {
  max-width: 704px;
  margin: 0 auto;
  padding: 0 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li,
ol li {
  margin: 0;
  padding: 0;
}

img,
picture {
  display: block;
  max-width: 100%;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background: none;
  width: auto;
  height: auto;
  font-size: inherit;
  cursor: pointer;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.social__item {
  width: 40px;
  height: 40px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.social__item a {
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.social__item a:active {
  opacity: 0.9;
}

.social__item a img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.tooltip {
  margin-top: 2px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 100%;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 8px;
  min-width: 193px;
  white-space: nowrap;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16), 0 0 2px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16), 0 0 2px rgba(0, 0, 0, 0.08);
  background: #f0f0f0;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.js-copy-phone:focus .tooltip {
  opacity: 1;
  pointer-events: auto;
  z-index: 10;
}

.tooltip p {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

.title {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #282828;
}

.title--md {
  font-size: 32px;
  line-height: 125%;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  padding: 12px 0;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  font-weight: 600;
  -webkit-transition: background, color 0.25s;
  transition: background, color 0.25s;
}

.btn:disabled {
  color: #a8a8a8;
  cursor: not-allowed;
}

.btn:focus-visible {
  -webkit-box-shadow: 0 0 0 2px #000;
          box-shadow: 0 0 0 2px #000;
}

.btn--primary {
  background: #136e40;
  color: #ffffff;
}

.btn--primary:disabled {
  background: #f5f5f5;
}

.btn--outline {
  border-color: #ccc;
}

.btn--outline:not(:disabled):active {
  background: #e0e0e0;
}

.btn--outline:disabled {
  background: #f5f5f5;
}

.btn--text {
  color: #136e40;
}

.btn--text:disabled {
  background: #f5f5f5;
}

.row {
  display: -ms-grid;
  display: grid;
  gap: 24px;
}

.hero {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  padding: 94px 0 48px;
  position: relative;
}

.hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
}

.hero__bg img,
.hero__bg picture {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero__bg::before,
.hero__bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero__bg::before {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#fff));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
}

.hero__bg::after {
  display: none;
}

.hero__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 48px;
  height: 100%;
}

.hero__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding: 66px 0;
  z-index: 1;
}

.hero__content p {
  font-weight: 400;
  line-height: 24px;
  color: #282828;
}

.hero__title {
  max-width: 422px;
  margin-bottom: 8px;
  text-wrap: balance;
}

.form__radio .custom-radio {
  display: block;
  width: 18px;
  height: 18px;
  border: 2px solid #cccccc;
  border-radius: 50%;
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.form input[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.form input[type=radio]:checked ~ .form__radio-inner {
  border-color: #686868;
}

.form input[type=radio]:checked ~ .form__radio-inner .custom-radio::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: #136e40;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.form input[type=radio]:checked ~ .form__radio-inner .custom-radio {
  border-color: #136e40;
}

.form__radio-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 6px 12px 6px 8px;
  line-height: 133%;
  cursor: pointer;
}

.form__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 6px 0;
  cursor: pointer;
}

.form__checkbox input[type=checkbox] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.form__checkbox .checkbox-custom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #ccc;
  border-radius: 4px;
  width: 18px;
  height: 18px;
}

.form__checkbox .checkbox-custom img,
.form__checkbox .checkbox-custom picture {
  display: none;
  width: 10px;
  height: 8px;
}

.form__checkbox input[type=checkbox]:checked ~ .form__checkbox-inner .checkbox-custom {
  border-color: #136e40;
  background: #136e40;
}

.form__checkbox input[type=checkbox]:checked ~ .form__checkbox-inner .checkbox-custom img {
  display: block;
}

.form__checkbox input[type=checkbox]:checked ~ .form__checkbox-price {
  color: #136e40;
}

.form__checkbox-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.form .form__checkbox-price {
  font-weight: 600;
  line-height: 144%;
  color: #a8a8a8;
}

.cards {
  position: relative;
  z-index: 1;
}

.cards__grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 24px;
}

.card {
  display: -ms-grid;
  display: grid;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16), 0 0 2px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16), 0 0 2px 0 rgba(0, 0, 0, 0.08);
  background: #fff;
  overflow: hidden;
  -webkit-transition: background 0.25s ease;
  transition: background 0.25s ease;
}

.card__image {
  height: 234px;
}

.card__image img,
.card__image picture {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
}

.card__title {
  font-weight: 600;
  line-height: 26px;
  color: #282828;
  text-wrap: balance;
}

.breadcrumbs {
  padding-top: 16px;
  display: -ms-inline-grid;
  display: inline-grid;
}

.breadcrumbs__list {
  display: none;
}

.breadcrumbs__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 6px;
  padding: 8px 0;
}

.breadcrumbs__item:not(:last-child)::after {
  content: "/";
  color: #136e40;
}

.breadcrumbs__link {
  color: #136e40;
}

.breadcrumbs__current {
  color: #686868;
}

.breadcrumbs__back {
  -ms-grid-column-align: start;
      justify-self: start;
  padding: 8px 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 144%;
  color: #136e40;
}

.catalog {
  padding-top: 92px;
}

.catalog__top {
  padding: 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 16px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog__grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 16px;
  padding: 0 0 24px;
}

.product-card {
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.13);
          box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.13);
  background: #fff;
  overflow: hidden;
}

.product-card__image img,
.product-card__image picture {
  width: 100%;
  height: 100%;
}

.product-card__body {
  padding: 16px;
  display: -ms-grid;
  display: grid;
  gap: 16px;
}

.product-card__body-inner {
  display: -ms-grid;
  display: grid;
  gap: 8px;
}

.product-card__title {
  font-size: 20px;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
}

.features--pb {
  padding-bottom: 16px;
}

.features__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 24px 1fr;
  grid-template-columns: 24px 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.features__feature-value {
  font-size: 16px;
}

.single {
  padding-top: 94px;
}

.single__row {
  padding: 24px 0;
}

.single__images {
  display: contents;
}

.single__title {
  padding: 0 0 16px;
  font-weight: 700;
  font-size: 28px;
  line-height: 125%;
  color: #282828;
}

.single__result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 16px 0;
}

.single__result p {
  font-weight: 600;
}

.single__price {
  font-weight: 700;
  font-size: 24px;
}

.single__buttons {
  display: -ms-grid;
  display: grid;
  gap: 8px;
}

.single__info {
  margin-top: 16px;
}

.gallery__slider .swiper-slide img,
.gallery__slider .swiper-slide picture {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery__slider .swiper-slide[data-lightbox] {
  cursor: pointer;
}

.gallery__slider-thumb {
  margin-top: 16px;
  cursor: pointer;
}

.gallery__slider-thumb .swiper-slide {
  border-radius: 4px;
  padding: 2px;
  border: 1px solid #ccc;
  width: 80px !important;
  height: 80px !important;
}

.gallery__slider-thumb .swiper-slide img,
.gallery__slider-thumb .swiper-slide picture {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery__slider-thumb .swiper-slide-thumb-active {
  border: 2px solid #136e40;
}

.tabs--outline .tabs__list {
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
}

.tabs--outline .tabs__tab {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  background: #fff;
}

.tabs--outline .tabs__tab[aria-selected=false] {
  background: #fff;
  color: #686868;
}

.tabs--outline .tabs__tab[aria-selected=true] {
  color: #282828;
  background: #fff;
  border-bottom: 2px solid #136e40;
}

.tabs--outline .tabs__panel ul {
  list-style: disc;
  padding-left: 20px;
  margin: 1em 0;
}

.tabs--outline .tabs__panel ol {
  list-style: decimal;
  padding-left: 20px;
  margin: 1em 0;
}

.tabs--outline .tabs__panel li {
  margin-bottom: 0.5em;
}

.tabs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0 0 16px;
}

.tabs__tab {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 11px;
  font-weight: 600;
  text-align: center;
  color: #282828;
}

.tabs__tab[aria-selected=false] {
  background: #e5e5e5;
  color: #686868;
}

.calc__row {
  border-bottom: 1px solid #e0e0e0;
}

.calc__group {
  padding: 0 0 16px;
  margin: 0;
  border: none;
}

.calc__title {
  font-weight: 600;
  line-height: 144%;
  color: #282828;
  margin-bottom: 8px;
}

.calc__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
}

.options {
  padding: 16px 0;
  border-bottom: 1px solid #e0e0e0;
}

.options__inner {
  max-height: 114px;
  overflow: hidden;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.options__inner.active {
  max-height: 100%;
}

.options__group {
  padding: 0;
  margin: 0;
  border: none;
}

.options__title {
  margin-bottom: 8px;
  padding: 0;
  font-weight: 600;
  line-height: 144%;
  color: #282828;
}

.contact {
  padding-top: 94px;
}

.contact__row {
  padding: 24px 0;
}

.contact__title {
  margin-bottom: 16px;
}

.contact__list:not(:last-child) {
  margin-bottom: 16px;
}

.contact__list-inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 24px 1fr;
  grid-template-columns: 24px 1fr;
  gap: 8px;
}

.contact__list-icon {
  width: 24px;
  height: 24px;
}

.contact__list-icon .svg-icon {
  color: #686868;
}

.contact__list-info p {
  color: #686868;
  line-height: 133%;
  margin-bottom: 4px;
}

.contact__list-info ul {
  display: -ms-grid;
  display: grid;
  gap: 4px;
}

.contact__list-info ul li a {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  text-underline-offset: 6px;
  color: #282828;
}

.about {
  padding-top: 94px;
}

.about__inner {
  padding: 24px 0;
}

.about__content {
  margin-top: 16px;
}

.about__content img {
  max-width: 100%;
  height: auto;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(255, 255, 255, 0.7);
  z-index: 999;
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.popup.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.popup.is-open .popup__content {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.popup__close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup__close::before {
  content: "";
  position: absolute;
  top: -12px;
  left: -12px;
  bottom: -12px;
  right: -12px;
}

.popup__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1129px;
  padding: 0 16px;
  width: 100%;
  height: auto;
  -webkit-transform: translateY(-50px);
      -ms-transform: translateY(-50px);
          transform: translateY(-50px);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.popup .gallery__slider {
  max-width: 768px;
}

.popup .swiper-button-next,
.popup .swiper-button-prev {
  top: 45%;
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.5);
}

.popup .swiper-button-next svg,
.popup .swiper-button-prev svg {
  display: block;
  width: 9px;
  height: 18px;
  color: #ffffff;
}

.popup .swiper-button-next::before,
.popup .swiper-button-prev::before {
  content: "";
  position: absolute;
  top: -54px;
  left: -54px;
  bottom: -54px;
  right: -54px;
}

.popup .swiper-button-next {
  right: 0;
  margin-right: -5px;
}

.popup .swiper-button-prev {
  left: 0;
  margin-left: -5px;
}

.dropdown {
  position: relative;
  max-width: 440px;
  width: 100%;
}

.dropdown__button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 8px;
  width: 100%;
  text-align: left;
  background: #FFFFFF;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 12px;
  font-weight: 400;
  line-height: 20px;
  cursor: pointer;
}

.dropdown__button p {
  text-wrap: nowrap;
  width: 380px;
  overflow: hidden;
}

.dropdown__button:focus,
.dropdown__button--active {
  outline: 2px solid #282828;
}

.dropdown__list {
  margin-top: 2px;
  display: none;
  width: 100%;
  max-height: 352px;
  position: absolute;
  left: 0;
  top: 100%;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16), 0 0 2px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16), 0 0 2px 0 rgba(0, 0, 0, 0.08);
  background: #fff;
  border-radius: 4px;
  padding: 8px 0;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1;
}

.dropdown__list--visible {
  display: block;
}

.dropdown__list-item {
  margin: 0 2px;
  padding: 8px 14px;
  border-radius: 4px;
  cursor: pointer;
}

.dropdown__list-item:focus {
  outline: 2px solid #282828;
}

.dropdown__input-hidden {
  display: none;
}

* {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  background: #fbfbfb;
}

body {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  min-width: 360px;
  overflow-x: hidden;
  font-family: "Arimo", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

body main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

@media (min-width: 576px) {
  .form__checkbox {
    gap: 20px;
  }

  .single__title {
    font-size: 32px;
  }
}

@media (min-width: 768px) {
  .breadcrumbs__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 4px;
  }
}

@media screen and (min-width: 980px) {
  .header {
    padding: 12px 32px;
  }
}

@media (min-width: 980px) {
  .header__burger {
    display: none;
  }

  .header__group {
    display: contents;
  }

  .header__inner {
    -ms-grid-columns: 1fr auto 1fr;
    grid-template-columns: 1fr auto 1fr;
    gap: 32px;
  }

  .header__mobile-phone {
    display: none;
  }

  .container {
    max-width: 1280px;
    padding: 0 32px;
  }

  .row {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .hero__bg::after {
    display: block;
    background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0)), to(#fff));
    background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  }

  .cards__grid {
    grid-template-columns: repeat(auto-fill, minmax(389px, 1fr));
  }

  .card {
    -ms-grid-columns: 176px 1fr;
    grid-template-columns: 176px 1fr;
  }

  .card__image {
    height: 176px;
  }

  .catalog__top {
    padding: 16px 0 24px;
  }

  .single__images {
    display: block;
    min-width: 0;
  }

  .gallery--popup .gallery__slider .swiper-slide {
    height: calc(100vh - 240px) !important;
    min-height: 447px;
  }

  .gallery__slider .swiper-slide {
    height: 447px !important;
  }
}

@media (min-width: 992px) {
  .popup__close {
    top: 52px;
    right: 52px;
  }
}

@media (min-width: 1200px) {
  .popup .gallery__slider {
    max-width: 1129px;
  }

  .popup .swiper-button-next {
    right: 54px;
  }

  .popup .swiper-button-prev {
    left: 54px;
  }
}

@media screen and (max-width: 1200px) {
  .nav__link {
    font-size: 16px;
  }
}

@media (max-width: 992px) {
  .popup .swiper-button-next::before,
  .popup .swiper-button-prev::before {
    left: 0;
    right: 0;
  }
}

@media (max-width: 980px) {
  .header__logo {
    width: 92px;
    height: 60px;
  }

  .header__controls {
    gap: 8px;
  }

  .header__phone {
    display: none;
  }

  .nav {
    display: none;
  }

  .social__item {
    width: 32px;
    height: 32px;
  }

  .title {
    font-size: 32px;
    line-height: 40px;
  }

  .hero__bg img,
  .hero__bg picture {
    -o-object-position: center left;
       object-position: center left;
  }

  .single__info {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .gallery {
    min-width: 0;
  }

  .contact__map {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (max-width: 768px) {
  .title--md {
    font-size: 28px;
  }

  .hero__content {
    padding-bottom: 0;
  }

  .form .form__checkbox-price {
    padding-left: 26px;
  }
}

@media (hover: hover) {
  .header__phone a:hover {
    color: #00573F;
  }

  .nav__item:hover .nav__link {
    color: #00573f;
  }

  .nav__item:hover .nav__arrow {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }

  .nav__item:hover .submenu {
    opacity: 1;
    pointer-events: all;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }

  .nav__link:hover {
    color: #00573f;
  }

  .submenu__item:hover .submenu__link {
    color: #136e40;
  }

  .mobile-menu li a:hover {
    color: #00573f;
  }

  .social__item:hover {
    -webkit-transform: scale(0.98);
        -ms-transform: scale(0.98);
            transform: scale(0.98);
  }

  .btn--primary:not(:disabled):hover {
    background: #00573f;
  }

  .btn--outline:not(:disabled):hover {
    background: #f5f5f5;
  }

  .btn--text:not(:disabled):hover {
    color: #00573f;
  }

  .card:hover {
    background: #eaeaea;
  }

  .tabs__tab:hover {
    background: #f5f5f5;
  }

  .dropdown__button:hover {
    border: 1px solid #a8a8a8;
  }

  .dropdown__list-item:hover {
    background: #f5f5f5;
  }
}