{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}



{% block content %}


<div class="account">
    <div class="container">
        <div class="account__content">
            
            {% include 'account/profile_top.html' %}

            

            <form method="POST" action="{% url 'account_change_password' %}" class="account__form">
                <h1 class="account__title">{% trans "Change Password" %}</h1>
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" name="action" class="btn btn--full">{% trans "Change Password" %}</button>
                <a class="account__change" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
