{% extends 'admin_base.html' %}{% load static %}{% load thumbnail %} {% block body %}
<div class="page">
  <div class="page__inner">
    <div class="page__top">
      <h1 class="page__title">{{ title }}</h1>
      <a href="javascript:history.back()">Назад</a>
    </div>
    <form action="." method="POST" id="myForm" class="form" enctype="multipart/form-data">
      <div class="page__head">
        <div class="page__head-tab">
          <button type="button" data-name="basic" class="page__head-btn _active">Основные</button>
          <button type="button" data-name="seo" class="page__head-btn">Поля SEO</button>
          <button type="button" data-name="config" class="page__head-btn">Конфигурация</button>

        </div>
        <div class="page__head-right">
          {% if add_url %}<a href="{% url add_url %}" class="form__add-property">Создать</a>{% endif %}
          <button type="submit" class="form__btn">
            <img src="{% static 'admin/img/save.svg' %}" alt=""/>
            Сохранить
          </button>
        </div>
      </div>
      {% csrf_token %}
      {{ form.media }}
      <div class="page-content _show" id="basic">
        <div class="page-content__row">
          <div class="page-content__col">
            {% if form.name %}
            <div class="form__group">
              <label for="{{ form.name.id_for_label }}" class="form__controls-label">{{ form.name.label }}: </label>
              {{ form.name }} {{ form.name.errors }}
            </div>
            {% endif %}

            {% if form.description %}
            <div class="form__group">
              <label for="{{ form.description.id_for_label }}" class="form__controls-label">
                {{ form.description.label }}:
              </label>
              {{ form.description }} {{ form.description.errors }}
            </div>
            {% endif %}

          </div>
          <div class="page-content__col">
            {% if form.slug %}
            <div class="form__group">
              <label for="{{ form.slug.id_for_label }}" class="form__controls-label">
                <span>*</span>
                URL :
              </label>
              {{ form.slug }} {{ form.slug.errors }}
            </div>
            {% endif %}

            {% if form.category %}
            <div class="form__group">
              <label for="{{ form.category.id_for_label }}" class="form__controls-label">Выбор категории:</label>
              {{ form.category }} {{ form.category.errors }}
            </div>
            {% endif %}

            {% if form.parent %}
            <div class="form__group">
              <label for="{{ form.parent.id_for_label }}" class="form__controls-label">Родительская категория:</label>
              {{ form.parent }} {{ form.parent.errors }}
            </div>
            {% endif %}

            {% if form.order_by %}
            <div class="form__group">
              <label for="{{ form.order_by.id_for_label }}" class="form__controls-label">
                {{ form.order_by.label }}:
              </label>
              {{ form.order_by }} {{ form.order_by.errors }}
            </div>
            {% endif %}

            {% if form.image %}
            <div class="form__group form__group-image">
              <label for="{{ form.image.id_for_label }}" class="form__controls-label">{{ form.image.label }}:</label>
              {{ form.image }} {{ form.image.errors }}
            </div>
            {% endif %}

            {% if form.instance.image %}
            <a href="{{ form.instance.image.url }}" target="_blank">
              <img src="{{ form.instance.image.url }}" alt="Миниатюра изображения"
                   style="max-width: 100px; max-height: 100px"/>
            </a>
            {% endif %}

            {% if form.status %}
            <div class="form__group">
              <label for="{{ form.status.id_for_label }}" class="form__controls-label">{{ form.status.label }}:</label>
              {{ form.status }} {{ form.status.errors }}
            </div>
            {% endif %}

          </div>
        </div>
      </div>
      <div class="page-content" id="seo">
        <!-- SEO страницы -->
        <div class="page-content__row">
          <div class="page-content__onecol">
            <div class="form__group">
              <label for="{{ form.meta_h1.id_for_label }}" class="form__controls-label"> Заголовок h1: </label>
              {{ form.meta_h1 }} {{ form.meta_h1.errors }}
            </div>
            <div class="form__group">
              <label for="{{ form.meta_title.id_for_label }}" class="form__controls-label"> Мета заголовок: </label>
              {{ form.meta_title }} {{ form.meta_title.errors }}
            </div>
            <div class="form__group">
              <label for="{{ form.meta_description.id_for_label }}" class="form__controls-label">
                Мета описание:
                <div class="meta-lenght">0</div>
              </label>
              {{ form.meta_description }} {{ form.meta_description.errors }}
            </div>
            <div class="form__group">
              <label for="{{ form.meta_description.id_for_label }}" class="form__controls-label"> Мета
                keywords: </label>
              {{ form.meta_keywords }} {{ form.meta_keywords.errors }}
            </div>
          </div>
        </div>
      </div>
      <div class="page-content" id="config">
        <div class="page-content__onecol">
          <button type="button" class="tab-add form__btn" id="add-tab">Добавить конфигурацию</button>
          <div class="tabs-container" id="tabs-container">
            {% if tabs %}
            {% for tab in tabs %}
            <div class="config-tab" data-tab-id="{{ tab.id }}">
              <div class="config-tab__header">
                <h3>{{ tab.title }}</h3>

                <button type="button" class="add-field-btn add-tab__button" data-tab-id="{{ tab.id }}">
                  Добавить поле
                </button>
              </div>

              <div class="fields-container">
                {% for field in tab.fields.all %}
                <div class="config-field" data-field-id="{{ field.id }}">

                  <div>{{ field.title }}</div>

                  <button type="button" class="add-option-btn" data-field-id="{{ field.id }}">
                    Добавить вариант
                  </button>
                  <div class="options-container"></div>
                </div>
                {% endfor %}
              </div>
            </div>
            {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="popup-config add-config" data-popup="add-config">
  <form id="create-tab-form" class="popup-config__form">
    {% csrf_token %}
    <div class="popup-config__row">
      <input type="text" name="title" placeholder="Название таба" class="popup-config__input form__input" required>
      <input type="hidden" class="form__hidden" name="category" value="{{ item.pk }}">
      <button type="submit" class="popup-config__save" id="create-tab">
        <img src="{% static 'admin/img/save.svg' %}" alt=""/>
      </button>
    </div>
    <p class="popup-config__hint">Нажмите сохранить чтобы продолжить создание</p>
  </form>
</div>

<div class="popup-config add-field" data-popup="add-field">
  <form id="create-field-form" class="popup-config__form">
    {% csrf_token %}
    <div class="popup-config__row">
      <label>
        <input type="text" name="name" placeholder="Название поля" class="popup-config__input">
      </label>
      <button type="submit" class="popup-config__save" id="create-field">
        <img src="{% static 'admin/img/save.svg' %}" alt=""/>
      </button>
      <label>
        <span>Тип:</span><br>
        <select name="type" class="popup-config__select" id="type-field">
          <option value="radio">Radio</option>
          <option value="checkbox">Checkbox</option>
        </select>
      </label>

    </div>
  </form>
</div>

<div class="popup-config add-option" data-popup="add-option">
  <form id="create-option-form" class="popup-config__form">
    {% csrf_token %}
    <label>
      <input type="text" name="title" placeholder="Название варианта" class="popup-config__input">
    </label>
    <label>
      <input type="number" name="price" placeholder="Цена" class="popup-config__input">
    </label>
    <button type="submit" class="popup-config__save" id="create-option">
      <img src="{% static 'admin/img/save.svg' %}" alt=""/>
    </button>
  </form>
</div>


{% endblock %}
