{% load static %}{% load thumbnail %}
<div class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__left">
        {% if base_settings.copyright %}
        <p class="footer__copyright">{{ base_settings.copyright }}</p>
        {% endif %}

        {% if base_settings.inn %}<p class="footer__law">ИНН {{ base_settings.inn }}</p>{% endif %}
        <p class="footer__inn">2006 — <span id="current-year">2027</span></p>
      </div>
      <div class="footer__right">
        {% if base_settings.address %}
        <p class="footer__address">
          {{ base_settings.address }}
        </p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

