.breadcrumbs {
  padding-top: 1.6rem;
  display: inline-grid;

  &__list {
    display: none;

    @media(min-width: 768px) {
      display: flex;
      align-items: center;
      gap: .4rem;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: .6rem;
    padding: .8rem 0;

    &:not(:last-child) {
      &::after {
        content: '/';
        color: #136e40;
      }
    }

  }

  &__link {
    color: #136e40;
  }

  &__current {
    color: #686868;
  }

  &__back {
    justify-self: start;
    padding: .8rem 0;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 144%;
    color: #136e40;
  }

}