.catalog {
  padding-top: 9.2rem;

  &__top {
    padding: 1.6rem 0;

    @media (min-width: 992px) {
      padding: 1.6rem 0 2.4rem;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
    gap: 1.6rem;
    padding: 0 0 2.4rem;
  }

}