.footer {
  flex: 0 0 auto;
  padding-block: 1.6rem;
  background: #00573F;
  color: #ffffff;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: .8rem;
  }

  &__left {
    display: flex;
    flex-wrap: wrap;
    gap: .8rem;

    @media (min-width: 768px) {
      align-items: center;
      flex-wrap: nowrap;
    }
  }

  &__right {
  }

  &__copyright {
  }

  &__law {
    font-size: 1.4rem;
    line-height: 143%;
  }

  &__inn {
  }

  &__address {
  }


}