.form {

  &__radio {

    .custom-radio {
      display: block;
      width: 1.8rem;
      height: 1.8rem;
      border: .2rem solid #cccccc;
      border-radius: 50%;
      position: relative;
      transition: all 0.2s;
    }

  }

  input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  input[type="radio"]:checked ~ .form__radio-inner {
    border-color: #686868;
  }

  input[type="radio"]:checked ~ .form__radio-inner .custom-radio::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1rem;
    height: 1rem;
    background-color: #136e40;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  input[type="radio"]:checked ~ .form__radio-inner .custom-radio {
    border-color: #136e40;
  }

  &__radio-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;
    border: .1rem solid #e0e0e0;
    border-radius: .4rem;
    padding: .6rem 1.2rem .6rem .8rem;
    line-height: 133%;
    cursor: pointer;
  }

  &__checkbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: .6rem 0;
    cursor: pointer;

    @media (min-width: 578px) {
      gap: 2rem;
    }

    input[type="checkbox"] {
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;
    }

    .checkbox-custom {
      border: .2rem solid #ccc;
      border-radius: .4rem;
      width: 1.8rem;
      height: 1.8rem;
    }

    input[type="checkbox"]:checked ~ .form__checkbox-inner .checkbox-custom {
      border-color: #136E40;
      background: #136E40;
    }

    input[type="checkbox"]:checked ~ .form__checkbox-price {
      color: #136E40;
    }

  }

  &__checkbox-inner {
    display: flex;
    align-items: center;
    gap: .8rem;
  }

  .form__checkbox-price {
    font-weight: 600;
    line-height: 144%;
    color: #a8a8a8;

    @media(max-width: 768px) {
      padding-left: 2.6rem;
    }

  }


}