.form {

  &__radio {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding: 6px 12px 6px 8px;
    line-height: 133%;
    cursor: pointer;

    & input[type="radio"] {
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;

      &:has(input[type="radio"]:checked) {
        border-color: #4CAF50;
        background-color: rgba(76, 175, 80, 0.1);
      }

      &:checked + .custom-radio::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 10px;
        height: 10px;
        background-color: #136e40;
        border-radius: 50%;
        transform: translate(-50%, -50%);
      }

      &:checked + .custom-radio {
        border-color: #136e40;
      }

    }

    .custom-radio {
      display: block;
      width: 18px;
      height: 18px;
      border: 2px solid #cccccc;
      border-radius: 50%;
      position: relative;
      transition: all 0.2s;
    }

  }



}