.form {

  &__radio {

    .custom-radio {
      display: block;
      width: 18px;
      height: 18px;
      border: 2px solid #cccccc;
      border-radius: 50%;
      position: relative;
      transition: all 0.2s;
    }

  }

  input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  input[type="radio"]:checked ~ .form__radio-inner {
    border-color: #686868;
  }

  input[type="radio"]:checked ~ .form__radio-inner .custom-radio::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: #136e40;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  input[type="radio"]:checked ~ .form__radio-inner .custom-radio {
    border-color: #136e40;
  }

  &__radio-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding: 6px 12px 6px 8px;
    line-height: 133%;
    cursor: pointer;
  }

  &__checkbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 6px 0;
    cursor: pointer;

    @media (min-width: 578px) {
      gap: 20px;
    }

    input[type="checkbox"] {
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;
    }

    .checkbox-custom {
      border: 2px solid #ccc;
      border-radius: 4px;
      width: 18px;
      height: 18px;
    }

    input[type="checkbox"]:checked ~ .form__checkbox-inner .checkbox-custom {
      border-color: #136e40;
      background: #136e40;
    }

    input[type="checkbox"]:checked ~ .form__checkbox-price {
      color: #136e40;
    }

  }

  &__checkbox-inner {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .form__checkbox-price {
    font-weight: 600;
    line-height: 144%;
    color: #a8a8a8;

    @media(max-width: 768px) {
      padding-left: 26px;
    }

  }


}