.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 17px 0;
  backdrop-filter: blur(6px);
  background: rgba(255, 255, 255, .7);
  z-index: 100;

  @media screen and (min-width: $laptop) {
    padding: 10px 0;
  }

  &__burger {

    @media (min-width: $laptop) {
      display: none;
    }


  }

  &__burger-btn {
    width: 24px;
    height: 24px;

    img {
      width: 100%;
      height: 100%;
    }

    &:focus-within ~ .mobile-menu,
    &:focus ~ .mobile-menu,
    .mobile-menu:focus-within {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }

  }

  &__group {
    position: relative;
    display: flex;
    align-items: center;
    gap: 12px;

    @media (min-width: $laptop) {
      display: contents;
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 12px;

    @media (min-width: $laptop) {
      grid-template-columns: 1fr auto 1fr;
      gap: 24px;
    }
  }

  &__logo {
    display: block;
    justify-self: center;
    width: 183px;
    height: 74px;

    @media (max-width: 1035px) {
      width: 153px;
    }

    @media (max-width: $laptop) {
      width: 120px;
      height: 48px;
    }

  }

  &__controls {
    justify-self: end;
    display: flex;
    align-items: center;
    gap: 24px;

    @media (max-width: $laptop) {
      gap: 8px;
    }
  }

  &__phone {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4px;
    text-align: left;
    color: #282828;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    text-decoration: underline dotted;
    text-underline-offset: 6px;

    @media (max-width: $laptop) {
      display: none;
    }

    a {
      transition: $animation_speed;

      &:first-child {
        font-size: 18px;
      }

      @media (hover: hover) {
        &:hover {
          color: #00573F;
        }
      }

      &:active {
        opacity: .9;
      }

    }

  }

  &__mobile-phone {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    width: 40px;
    height: 40px;

    @media(min-width: $laptop) {
      display: none;
    }
  }

}

.nav {
  justify-self: start;

  @media (max-width: $laptop) {
    display: none;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 16px;

    @media (max-width: 1035px) {
      gap: 8px;
    }
  }

  &__item {
    position: relative;
    padding-block: 7px;

    @media (hover: hover) {
      &:hover {
        .nav__link {
          color: #00573f;
        }

        .nav__arrow {
          transform: rotate(180deg);
        }

        .submenu {
          opacity: 1;
          pointer-events: all;
          transform: translateY(0);
        }

      }
    }

  }

  &__item-inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__link {
    font-family: $fontFamily;
    font-weight: 600;
    line-height: 144%;
    color: #136e40;

    @media (hover: hover) {
      &:hover {
        color: #00573f;
      }
    }

    &:active {
      color: #00573f;
    }

    @media screen and (max-width: $desktop) {
      font-size: 16px;
    }

  }

  &__arrow {
    width: 24px;
    height: 24px;
    color: #00573f;
    transition: $animation-speed;

  }

}

.submenu {
  position: absolute;
  border-radius: 4px;
  padding: 8px 0;
  min-width: 280px;
  transform: translateY(20px);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .16), 0 0 2px 0 rgba(0, 0, 0, .08);
  background: #fff;
  opacity: 0;
  pointer-events: none;
  transition: $animation-speed;

  &__item {
    padding: 8px 16px;

    @media (hover: hover) {
      &:hover {
        .submenu__link {
          color: #136e40;
        }
      }
    }

  }

  &__link {
    line-height: 133%;
    color: #282828;
    transition: $animation_speed;
  }


}

.mobile-menu {
  position: fixed;
  border-radius: 4px;
  padding: 8px 0;
  width: 280px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .16), 0 0 2px 0 rgba(0, 0, 0, .08);
  background: #fff;
  z-index: 100;
  transform: translateY(20px);
  opacity: 0;
  visibility: hidden;
  transition: $animation_speed;

  li {
    padding: 8px 16px;

    a {
      line-height: 133%;
      @media (hover: hover) {
        &:hover {
          color: #00573f;
        }
      }
    }
  }

  &__catalog {
    border-bottom: 1px solid #e0e0e0;
  }

  &__inner {
  }

}
