.single {
  padding-top: 94px;
  padding-bottom: 24px;

  &__row {
    display: grid;
    gap: 24px;

    @media (min-width: 992px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__images {
    min-width: 0;
  }

  &__parameters {}

  &__title {
    padding: 0 0 16px;
    font-weight: 700;
    font-size: 32px;
    line-height: 125%;
    color: #282828;
  }

  &__result {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    padding: 16px 0;

    p {
      font-weight: 600;
    }

  }

  &__price {
    font-weight: 700;
    font-size: 24px;
  }

  &__buttons {
    display: grid;
    gap: 8px;
  }

  &__slider {}

  &__slider-thumb {
    margin-top: 16px;

    .swiper-slide {
      border-radius: 4px;
      padding: 2px;
      border: 1px solid #ccc;
      width: 80px !important;
      height: 80px !important;

      img, picture {
        width: 100%;
        height: 100%;
      }
    }

    .swiper-slide-thumb-active {
      border: 2px solid #136e40;
    }

  }

  &__info {
    margin-top: 16px;
  }

}