.single {
  padding-top: 94px;
  padding-bottom: 24px;

  &__row {

  }

  &__images {
    display: contents;

    @media (min-width: 980px) {
      display: block;
      min-width: 0;
    }
  }

  &__images-inner {
    @media (max-width: 980px) {
      min-width: 0;
    }
  }

  &__parameters {}

  &__title {
    padding: 0 0 16px;
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 125%;
    color: #282828;

    @media (min-width: 578px) {
      font-size: 32px;
    }
  }

  &__result {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    padding: 16px 0;

    p {
      font-weight: 600;
    }

  }

  &__price {
    font-weight: 700;
    font-size: 24px;
  }

  &__buttons {
    display: grid;
    gap: 8px;
  }

  &__slider {

    .swiper-slide {

      @media (min-width: 980px) {
        height: 447px !important;
      }

      img,picture {
        width: 100%;
        height: 100%;
      }

    }

  }

  &__slider-thumb {
    margin-top: 16px;
    cursor: pointer;

    .swiper-slide {
      border-radius: 4px;
      padding: 2px;
      border: 1px solid #ccc;
      width: 80px !important;
      height: 80px !important;

      img, picture {
        width: 100%;
        height: 100%;
      }
    }

    .swiper-slide-thumb-active {
      border: 2px solid #136e40;
    }

  }

  &__info {
    margin-top: 16px;

    @media (max-width: 980px) {
      order: 2;
    }
  }

}