// пример переменных

$animation_speed: 0.25s;

/* Переменные шрифтов */
$fontFamily: "Inter", sans-serif;
$secondFamily: "Arimo", sans-serif;
$thirdFamily: "Ubuntu", sans-serif;
$font3: "Noto Sans", sans-serif;
$font4: "EB Garamond", sans-serif;
$font5: "Open Sans", sans-serif;
$font6: "PT Serif", sans-serif;

/* Переменные breakpoint */
$mobile: 576px;
$tablet: 768px;
$laptop: 980px;
$desktop: 1200px;