// Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap-grid';

// Шрифты
// Удалить файл fonts.scss, если произошли какие-то изменения со шрифтами
@import 'fonts';

// Переменны (цвета, скорость transition и пр)
@import '_variables';

@import '_header';
@import '_footer';
@import '_global';
@import '_hero';
@import '_cards';

* {
  outline: none;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 360px;
  overflow-x: hidden;
  font-family: $main_font;
  font-size: 1.8rem;
  font-weight: 400;

  main {
    position: relative;
    flex: 1 0 auto;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &::before {
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    }

    &::after {
      max-width: 844px;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
      transform: rotate(90deg);
    }
  }
}
