* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $fontFamily;
  background-color: #f2f7fb;
  font-size: 18px;
}

a {
  color: $mainColor;
  text-decoration: none;
}

button {
  background: transparent;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

.btn {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #5776c4;
  padding: 6px 24px;
  color: $white;
  border-radius: 4px;
  font-size: 14px;
  letter-spacing: .05em;

  img {
    width: 20px;
    height: 20px;
  }

  &--accent {
    background-color: $danger;
  }

}









