* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $fontFamily;
  background-color: #f2f7fb;
  font-size: 18px;
}

a {
  color: $mainColor;
  text-decoration: none;
}

button {
  background: transparent;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  background-color: #5776c4;
  padding: 6px 24px;
  color: $white;
  border-radius: 4px;
  font-size: 14px;
  letter-spacing: .05em;
  cursor: pointer;

  img {
    width: 20px;
    height: 20px;
  }

  &--accent {
    background-color: $danger;
  }

}

.product-block__paste {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin-bottom: 40px;
}

.product-block__image {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 200px;
  height: 200px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.product-block__minus {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  background: red;
  color: #fff;
  cursor: pointer;

}









