$transition: all .5s ease;
$primary: #884FFB;
$secondary: #6c757d;
$success: #9AFDD2;
$danger: #F64E60;
$warning: #FFCA60;
$info: #17a2b8;
$light: #fff;
$dark: #fff;
$muted: #fff;
$white: #fff;
$primary_bg: #f3f6f9;
$orange: #e76642;

$fontFamily: "Oswald", sans-serif;
$mainColor: #26353d;
$accent: #5776c4;
$linkColor: #82889c;
$bodyColor: #f4f6fa;
$grey: #788287;

$animation_speed: 0.5s;