.form {

  &__action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba($color: $mainColor, $alpha: 0.2);
    padding-bottom: 40px;


  }

  &__action-left {
    display: flex;
    align-items: center;

    button[type="button"] {
      padding: 10px 20px;
      color: $white;
      background-color: rgba($color: $accent, $alpha: 0.8);


      & + & {
        margin-left: 10px;
      }

      &:first-child {
        border-radius: 4px 0 0 4px;
      }

      &:last-child {
        border-radius: 0 4px 4px 0;
      }

      &.active {
        background-color: rgba($color: $accent, $alpha: 1);
      }
    }
  }

  &__action-right {
  }

  &__inner {
    display: none;

    &.show {
      display: block;
    }
  }

  &__row {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
  }

  &__col {

    &:first-child {
      flex-grow: 1;
    }

    &:nth-child(2) {
      max-width: 350px;
      width: 100%;
    }

    & + & {
      margin-left: 40px;
    }

  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  &__group {
    display: flex;
    flex-direction: column;
    gap: 10px;

    & + & {
      margin-top: 10px;
    }

    &--image {
      padding: 10px;
      border: 1px solid rgba(38, 53, 61, 0.3);
      border-radius: 4px;
    }
  }

  &__label {
    color: rgba($color: $mainColor, $alpha: 1);
  }

  &__controls {
    padding: 10px 10px;
    border: 1px solid rgba($color: $mainColor, $alpha: .3);
    border-radius: 4px;
    background-color: $white;
  }

  &__select {
    padding: 10px 10px;
    border: 1px solid rgba($color: $mainColor, $alpha: .3);
    border-radius: 4px;
    background-color: $white;
  }

  &__required {
    color: red;
  }


}