.sort-admin {
  margin-bottom: 40px;
  // .sort-admin__form

  &__form {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-direction: row;

  }

  input[type="radio"] {
    &:checked~label {
      // background: rgba($color: $mainColor, $alpha: .15);
      box-shadow: 0px 0px 4px rgba($color: $mainColor, $alpha: .1);
      border: 1px solid rgba($color: $mainColor, $alpha: .3);
    }
  }

  // .sort-admin__label
  &__label {
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 6px;
    border: 1px solid rgba($color: $mainColor, $alpha: .1);
    box-shadow: 0px 0px 4px rgba($color: $mainColor, $alpha: .1);
    cursor: pointer;
  }

  // .sort-admin__btn

  &__btn {
    padding: 10px 20px;
    font-size: 14px;
    background-color: $accent;
    border-radius: 6px;
    color: #fff;
    margin-top: 0px;
  }
}